/* Title */

.button-icon {
  padding-right: 3px;
}

/* Features */
.features-text {
  font-size: 1.1rem;
  font-family: "Roboto Condensed";
}

.icon {
  color: #243E2C;
  margin-bottom: 1rem;
}

/* Testimonials Section */

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Scoutmaster Letter */
.scoutmaster-letter {
  padding: 3% 15%;
  text-align: left;
}

.section-heading{
  text-align: center;
  padding: 3% 15%;
}

.signature{
  padding: 0% 15%;
  align-items: center;
}

@media (min-width: 576px) {
  body {
    font-size: 1.5rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .nav-link {
    text-align: center;
  }
}
