.navbar {
  background-color: #243E2C;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link{
  text-align: left;
}
.nav-item {
  padding: 0 12px;
  font-size: 1.5rem;
}

.dropdown-menu {
  background-color: #243E2C;
}

.dropdown-item {
  color: rgba(255,255,255,0.6);
  padding: 8px 12px;
  text-align: center;
}

.dropdown-item:hover {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}
